{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salesrep</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ salesrep.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ salesrep.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salesrep_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salesrep_edit', { 'id': salesrep.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
